* {
  margin: 0;
  padding: 0;
}

body {
  background-color: slateblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 18px;
}

.passwordBox {
  width: 350px;
  padding: 20px;
  background-color: aliceblue;
}

.passwordBoxIn {
  display: flex;
}

.passwordBoxIn input {
  flex-basis: 80%;
  font-size: 20px;
  padding-left: 5px;
  background-color: black;
  color: #fff;
}

.passwordBox .cpyBtn {
  flex-basis: 20%;
  padding: 10px;
  background-color: yellow;
  font-weight: 800;
}

.passwordLength {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}

.passwordLength input {
  width: 60px;
  padding: 6px 0px;
}

.checkBoxSection {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(243, 194, 60);
  border-radius: 5px;
}